

<h1> Welcome to Videoshop</h1>
    <p> Please enter your username and password</p>
   <form action="logins/create" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Login" style="position:relative;left:-80px;">
    </form>	

		<p>New user signup here <a href="http://localhost:3000/users/new"><button>New User</button></a></p>




